doctype html
html
  head
    title= title
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')


  body
    block content
    script(src='https://1013552044.rsc.cdn77.org/js/jquery-1.8.3.min.js')
    script(src='//ucarecdn.com/libs/widget/3.3.0/uploadcare.full.min.js')
    script(src='https://1013552044.rsc.cdn77.org/js/backbone/lib/underscore-min.js')
    script(src='https://1013552044.rsc.cdn77.org/js/backbone/lib/backbone-min.js')
    script(src="/socket.io/socket.io.js")
    script(src='https://1013552044.rsc.cdn77.org/js/appControl.js')
    script.
      UPLOADCARE_PUBLIC_KEY = "5c86268e2b7ae2ea6653";
